header {
  border: 5px solid black;
  height: 550px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(8,230,231);
  background-image: url("../images/axiom-pattern.png");
  flex-direction: column;
}

.header-image {
  border: 5px solid black;
}