.main-header {
  height: 550px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(8,230,231);
  background-image: url("../images/axiom-pattern.png");
  flex-direction: column;
}

/* .header-image {
  border: 5px solid black;
} */

.header-name {
  color: white;
  margin-bottom: 1em;
} 

.header-name h2 {
  font-weight: 300;
}

.header-name h2 strong {
  font-weight: 600;
}