nav {
  height: 120px;
  width: 100%;
  color: #FFFFFF;
  display: flex;
  padding-left: 1.5em;
  padding-right: 1.5em;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: fixed;
  padding-top: 1em;
 }

.brand {
  display: flex;
  font-family: 'Bungee', cursive;
  font-size: 30px;
  height: 90%;
  justify-content: center;
  align-items: flex-start;
  padding-right: 2em;
}

.nav-item-multi {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5em;
}

.nav-item-multi:hover {
  cursor: pointer;
}

.nav-item {
  padding-bottom: 0.5em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
}

.nav-icon {
  --fa-bounce-start-scale-x: 1;
  --fa-bounce-start-scale-y: 1;
  --fa-bounce-jump-scale-x: 1;
  --fa-bounce-jump-scale-y: 1;
  --fa-bounce-land-scale-x: 1;
  --fa-bounce-land-scale-y: 1;
  --fa-bounce-rebound: 0;
  color: #D70040;
}

/* DESKTOP STYLES */

@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
  }
}