.tweets {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

}

.tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  width: 90%;
  margin-top: 2em;
  
}

.tweet:hover {
  box-shadow: 8px 8px 2px plum;
}

article.tweet header {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.tweet-header-item {
  color: plum;

}
.tweet-header-item-multi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

article.tweet img {
  padding-right: 1em;
}

article.tweet p {
  width: 95%;
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  padding: 1em;
  
}

article.tweet footer {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 5px solid black;
  padding: 1em;
  padding-bottom: 2em;

}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #4056A1;
  width: 15%;
}


.fa-flag:hover {
  color: #E1AD01;
  transition: 0.7s;

}

.fa-retweet:hover {
  color: #E1AD01;
  transition: 0.7s;

}

.fa-heart:hover {
  color: #E1AD01;
  transition: 0.7s;

}

